{% extends "base.html" %}
{% load i18n %}

{% block description %}{% trans "Task manager's statuses" %}{% endblock %}
{% block title %}{% trans "Status list" %}{% endblock %}
{% block content %}
    <h1 class="my-4">{% trans "Statuses" %}</h1>
    <table class="table table-striped">
        <div class="container">
            <div class="row mb-4">
                <a class="btn btn-outline-primary btn-sm" href="{% url 'create_status' %}">{% trans "Create status" %}</a>
            </div>
        </div>
        {% if statuses %}
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Created at" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for status in statuses %}
                    <tr>
                        <td>{{ status.id }}</td>
                        <td>{{ status.name }}</td>
                        <td>{{ status.created_at | date:"d.m.Y G:i" }}</td>
                        <td class="text-right">
                            <a class="btn btn-info mr-2" href="{% url 'update_status' status.id %}">{% trans 'Update' %}</a>
                            <a class="btn btn-danger mr2" href="{% url 'delete_status' status.id  %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                    {% endfor %}
            </tbody>
        {% else %}
            <div class="card-body">{% trans "No statuses yet" %}</div>
        {% endif %}
    </table>
    {% endblock %}
